@import "~/src/scss/index.scss";

.container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  > i {
    font-size: 70px;
    color: $success;
  }

  > h2 {
    margin-bottom: 20px;
  }

  > a {
    width: 300px;
  }
}
