@import "~/src/scss/index.scss";

.container {
  padding: 10px;
}

.content {
  padding: 10px;
  &:hover {
    opacity: 0.6;
  }

  > h3 {
    font-size: 16px;
    padding-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.lowStock {
  color: $warning;
  font-size: 12px;
  padding-top: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  > span {
    font-weight: bold;
    font-size: 20px;
    color: $primary;
  }
}
