$primary: #058488;
$primary-hover: #025e61;

$text-light: #fff;
$text-primary: #333;
$text-secondary: #888;

$border-primary: #cccccc;

$background-primary: #fff;
$background-secondary: #f2f2f2;

$success: #69af00;
$warning: #ff6000;
$danger: #ff0a4e;
