.container {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  .oneColumn {
    width: 100%;
  }
  .twoColumns {
    width: 50%;
  }
  .threeColumns {
    width: 33.33%;
  }
  .fourColumns {
    width: 25%;
  }
  .fiveColumns {
    width: 20%;
  }
  .sixColumns {
    width: 16.66%;
  }
}
